body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dialog_title {
  background: #1976d2;
  color: #fff;
  padding: 6px 20px !important;
}
.price_tag {
  text-align: center;
}
.cancel_btn {
  color: #fff !important;
  background-color: #b82828 !important;
}
.nav_item:hover {
  background-color: #1976d2 !important;
}
